canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  object-fit: contain;
  overflow: hidden;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

 /* Define CSS classes for each social media icon */

 .social-icons-container {
  display: flex; /* set parent container to flex */
  justify-content: flex-start; /* align items to the left */
  align-items: center; /* vertically center items */
}

.social-icons {
  position: relative;
  display: flex;
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.social-icons li {
  margin: 0 25px;
}

.fa,.fa-brands,.fa-solid{
  display: inline-block;
  font-size: 40px;
  transition: 500ms;
  color: white;
}

.fa-facebook:hover {
  color: blue;
}

.fa-user-group:hover {
  color: #1da1f2;
}

.fa-instagram:hover {
  color: #c13584;
}

main {
  width: 100vw;
  background-color: transparent;
  color: white;
  z-index: 99;
  position: absolute;
  margin: 0px auto;
  padding: 0px 0px;
  box-sizing:border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  left: 0;
  cursor: url(ping-pong.png), auto;
}

a{cursor: url(ping-pong-2.png), auto;}


h1, h2, h3{
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

blockquote{
  font-family: papyrus, fantasy;
  font-weight: 700;
  font-style: normal;
}


  header {
    background: transparent;
    grid-column: 2 / span 5;
    font-size: 3.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
    text-align: left;
  }

  section {
    grid-column: 2 / 12;
    padding: 1rem;
    background: linear-gradient(to top, #008aff, #00ffe7);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
    transition: 0.3s;
    border-radius: 1rem;
    opacity: 1;
  }

  section p{
    opacity: 1;
    transition: 0.1s;
  }

  section h2{
    transition: 0.1s;
  }

  blockquote {
    margin: 1;
    padding: 1rem;
    grid-column: 2 / span 10;
    margin-bottom: var(--spacing);
    text-align: center;
    overflow: hidden;
  }

  blockquote p {
    color: rgb(188, 188, 188);
    background-color: transparent;
    font-size: 4rem;
    display: inline-block;
    line-height: 1;
    transform: scale(1);
    transition: all 0.2s ease-in-out 0.05s;
  }

  blockquote:hover p{
    color: rgb(255, 255, 255);
  }

  #parent1{
    position: relative;
    grid-column: 2/12;
    margin-bottom: var(--spacing);
  }

  .absolute-child{
    position: absolute;
  }

  .constitution{
    background: #232D4B;
    color: white;
    z-index: 1;
  }

  .red{
    background: red; 
    width: 100px;    
    height: 100px;
    z-index: 2;
    transform: rotate(1080deg);
  }

  .yellow{
    background: yellow; 
    width: 100px;    
    height: 100px;
    z-index: 2;
    transform: rotate(1080deg);
  }

  .button{
    display: inline-flex;
    height: 50px;
    padding:0;
    background: gray;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: brandon-grotesque, sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
  }

  .button:hover{
    background: #E57200;
  }

  .button__text, .button__icon{
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    height: 100%;
  }

  .button__icon{
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.08) ;
  }

  .members{
    background: #E57200;
    color: black;
  }

  .content{
    background: white;
    color: black;
  }




::-webkit-scrollbar{
  width: 0;
}
#scrollPath{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(225, 225, 225, 0.05);
}

#progressbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 4px;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 5s linear infinite;
}

@keyframes animate{
  0%, 100%{
    filter: hue-rotate(0deg);
  }
  50%{
    filter: hue-rotate(360deg);
  }
}

#progressbar:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}

#progressbar:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}

footer{
  grid-column: 1 / -1;
  position:relative; 
  background: #E57200;
  min-height:200px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .menu{
  position: relative;
  display: flex;
  list-style: none;
  margin: 10px 0;
  margin-top: 20px;
  padding: 0;
}


footer .menu li a{
  font-size: 1.2em;
  color: white;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 1;
  transition: 0.5s;
}

footer .menu li a:hover{
  color: #232D4B;
}

footer p{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 0.8em;
}

footer .wave{
  position: absolute;
  top: -100px; 
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave2.png);
  background-size: 1000px 100px;
}

footer .wave#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4{
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave{
  0%
  {
    background-position-x: 1000px;
  }
  100%
  {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02{
  0%
  {
    background-position-x: 0px;
  }
  100%
  {
    background-position-x: 1000px;
  }
}

.hidden{
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
}

.hidden.l{
  transform: translateX(-50%);
}

.hidden.l.img{
  transform: rotate(0);
  left: 0;
}

.hidden.f{
  transform: none;
}

.hidden.r{
  transform: translateX(50%);
}

.show{
  opacity: 1;
  filter: blur(0);
}

.show.l{
  transform: translateX(0);
}

.red.show.l.img{
  left: calc(100% - 100px);
  transform: rotate(2turn);
}

.yellow.show.l.img{
  left: calc(100% - 200px);
  transform: rotate(2turn);
  transition-delay: 0.2s;
}

.show.f{
  transform: none;
  opacity: 1;
}

.show.r{
  transform: translateX(0);
  grid-column: 2/span 10;
}


@media(prefers-reduced-motion){
  .hidden{
    transition: none;
  }
}

